.container-fluid {
    background-color: #000000;
}

.nav-item {
    font-family: 'Raleway', sans-serif;
    font-size: .8rem;
}

.navbar-brand {
    transition: .3s ease-in-out;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
}

.navbar-brand img {
    transition: .3s ease-in-out;
    width: 2rem;
}

.carousel {
    position: relative;
}

.description {
    z-index: 5;
    position: absolute;
}

.description h1 {
    color: white;
    z-index: 1;
    font-size: 8rem;
    font-family: 'Raleway Dots', cursive;
}

.description p {
    color: white;
    letter-spacing: .1rem;
    line-height: 1.5rem;
    font-family: 'EB Garamond', serif;
}

.carousel-item {
    position: relative;
    opacity: .7;
    height: 60rem;
}

.carousel-item img {
    position: relative;
}

section {
}

.highlights {
    /*background: #FFFF url("./../assets/decoration.png") no-repeat 85% 100%;*/
}

.highlights .highlights-container {
    /*opacity: .8;*/
    position: relative;
}

.highlights .highlights-container:after {
    content: "";
    position: absolute;
    width: 30%;
    height: 50%;
    right: 0;
    opacity: .1;
    bottom: 0;
    background: url("./../assets/decoration.png") no-repeat;

}

.highlights .nav-pills-custom .nav-link:first-of-type.active {
    background: #2a2929;
}

.highlights .nav-pills-custom .nav-link:nth-of-type(2).active {
    background: #414047;
}

.highlights .nav-pills-custom .nav-link:nth-of-type(3).active {
    background: #505157;
}

.highlights .nav-pills-custom .nav-link:nth-of-type(4).active {
    background: #545c61;
}

.highlights .nav-pills-custom .nav-link:nth-of-type(5).active {
    background: #5e676d;
}

.highlights .nav-pills-custom .nav-link:last-of-type.active {
    background: #878a97;
}

.highlights .nav-pills-custom .nav-link.active {
    color: #fff;
}

.highlights .nav-pills-custom .nav-link {
    color: black;
    letter-spacing: .1rem;
    line-height: 1.5rem;
    font-family: 'EB Garamond', serif;
    position: relative;
}

.highlights h4 {
    font-size: 2rem;
    font-family: 'Satisfy', cursive;
}

.highlights p {
    line-height: 1.8rem;
    font-family: 'EB Garamond', serif;
}

.highlights .tab-pane.active {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

/*.highlights-container > div:nth-of-type(even) {*/
/*    background-color: #000000;*/
/*}*/

/*.highlights-container > div:nth-of-type(odd) {*/
/*    background-color: #8d8d8d;*/
/*}*/

/*.highlights p {*/
/*    color: white;*/
/*    letter-spacing: .1rem;*/
/*    line-height: 1.5rem;*/
/*    font-family: 'EB Garamond', serif;*/
/*}*/

/*.highlights img {*/
/*    border: .3rem solid white;*/
/*}*/

/*.highlights .nav-item {*/
/*    color: white;*/
/*    font-size: 2rem;*/
/*    font-family: 'Raleway Dots', cursive;*/
/*}*/

/*.highlights .nav-item:active {*/
/*    color: white;*/
/*}*/


/*.highlights .tab-pane:first-of-type {*/
/*    background: #262A33;*/
/*    border: none;*/
/*}*/


/*.highlights .nav-link {*/
/*    height: 5rem;*/
/*}*/